<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Laba10Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      body {
          text-align: center;
          margin: 20px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
